.board-list
  h1.board-list__title List of Boards
  .board-list__list.row
    .board-list__item.col-md-3(*ngFor="let board of boards$ | async")
      app-board-item([board]="board", (onRemove)="removeBoardById($event)")
    .board-list__item.col-md-3
      button.btn.btn-outline-primary(
        type="button",
        [ngbPopover]="popCreateBoard",
        popoverTitle="Create new board",
        placement="right",
        #popover="ngbPopover"
      ) Create new board

ng-template(#popCreateBoard)
  form([formGroup]="createBoardForm", (ngSubmit)="addBoard($event, popover)")
    .form-group
      label Title:
        input.form-control(
          type="text",
          formControlName="title"
        )
    button.btn.btn-success(
      type="submit",
      [disabled]="createBoardForm.status === 'INVALID'"
    ) Create


